<div class="hero-unit">
	<!--<h2>Connect with <span class="btn"><%= link_to "Facebook", "/auth/facebook" %></span> & go on a blind date...</h2>-->
	<h4><%= link_to "/auth/facebook" do %>
		<%= image_tag("fb-connect.png") %>
	<% end %> & be ready for a blind-date...</h4><br/>
	<a href="#myModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Learn more:</a>

	<!-- Modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Mail-me, a blind-date platform</h3>
		</div>
		<div class="modal-body">
			<p><ul class="row-fluid span12">
		<small>
		<li>Don't worry your details will be safe with us.</li>
		<li>Mail any user you like.</li>
		<li>Receive mails from others</li>
		<li>If the mails path collide, it's a <span class="label label-important">mail-me bang</span></li>
		<li><span class="label label-important">Mail-me banged</span> users inbox will reveal sender's info.</li> 
		<li>Now wht...you got your bang...go ahead with ur blind-date.</li>
		<li>Pause..........Pause...</li>
		<li>What!!! didn't like your last date</li>
		<li>Come-on in & <span class="label label-important">trymailingme...</span></li>
		
	</ul></p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>
</div>

HOW IT WORKS: <i class="icon-question-sign"></i><br/><br/>
<div class="row-fluid">

	<div class="well well-small span2">
		STEP-1
	</div>

	<div class="well well-small span3">
		User A sends a <span class="icon-heart"></span>mail to B.
	</div>
	<div class="well well-small span3">
		User B receives the mail as an anonymous mail.
	</div>

	<div class="well well-small span4">
		User B search in mail-me user's profiles.
	</div>
</div>	

<div class="row-fluid">

	<div class="well well-small span2">
		STEP-2
	</div>

	<div class="well well-small span3">
		User B sends a <span class="icon-heart"></span>mail to C.
	</div>
	<div class="well well-small span3">
		C goes through the same phase that B went through.
	</div>

	<div class="well well-small span4">
		But notbody could find the sender details.
	</div>
</div>	

<div class="row-fluid">

	<div class="well well-small span2">
		STEP-3
	</div>

	<div class="well well-small span3">
		User B tries luck by sending <span class="icon-heart"></span>mail to A.
	</div>
	<div class="well well-small span3">
		It will become a <span class="label label-important">mail-me bang.</span>
	</div>

	<div class="well well-small span4">
		Both A and B will be informed through mail and through mail-me inbox.
	</div>
</div>


<div class="row-fluid">

	<div class="well well-small span2">
		STEP-4
	</div>

	<div class="well well-small span3">
		A and B will go on a blind date.
	</div>
	<div class="well well-small span3">
		Users can avail <span class="label label-important">mail-me deals</span> for their blind dates.
	</div>

	<div class="well well-small span4">
		Didn't like your last date...welcome back. Happy mailing again...<span class="icon-heart"></span> <span class="icon-heart"></span> <span class="icon-heart"></span>
	</div>
</div>