<p><%= @mailmemail.content %></p>

<br/>
<p>(This is sent by a mailme user. Its not a mailme bang! yet. Keep mailing to find out who is it.
You can check your inbox inside mailme app as well. Happy mailing...
<br/>Mailme team)
</p>