<p><%= @mailmemail.content %></p>

<br/>
<p>(This is a mail sent from a mailme user. Its not a mailme bang! yet. Keep mailing to find out who is it.
You can go to mailme app and can flag this out in your inbox, if it is against the policy of the mailme app or you find any descrepancy in this mail. Enjoy mailing...)</p>