/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@import "bootstrap";
@import "bootstrap-responsive";

html,body{
	height: 100%
}

a:hover {
	text-decoration: none;	
}



/*ul#all-profiles > li:nth-child(odd){background-color: #F7F7F7;}
ul#all-profiles > li:nth-child(even){background-color: #FFFFFF;}*/

.accordion-toggle:nth-child(odd){background-color: #F7F7F7;}
.accordion-toggle:nth-child(even){background-color: #FFFFFF;}

.profile-view{
	border-bottom: 1px solid $grayLighter;
}
.profile-view:hover{
	background-color: #F7F7F7;
}	

ul#all-profiles{
	list-style: none;
}

ol{
	list-style: none;
}

.mailme-highlite{
	font-family: Anton,Impact, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	color:#959697;
}

.inbox-style{
	width: 95%;
	overflow: auto;
	border-bottom: 1px solid $grayLighter;
	padding: 5px 0;
	background-color: #F7F7F7;	
}

footer{
	text-align: right;
}
